@font-face {
    font-family: sauceCodeProNerd;
    src: url(fonts/Sauce_Code_Pro_Nerd_Font_Complete.ttf);
}
@font-face {
    font-family: sourceSansPro;
    src: url(fonts/SourceSansPro_Regular.otf);
}

body {
    font-family: sourceSansPro;
}

h3 {
    font-family: sauceCodeProNerd;
    color: white;
}

/* p {
    font-size: x-large;
} */
