@font-face {
    font-family: sauceCodeProNerd;
    src: url(style/fonts/Sauce_Code_Pro_Nerd_Font_Complete.ttf);
}
@font-face {
    font-family: sourceSansPro;
    src: url(style/fonts/SourceSansPro_Regular.otf);
}

body {
    font-family: sourceSansPro;
}

code {
    font-family: sauceCodeProNerd;
    color: white;
}

/* p {
    font-size: x-large;
} */
